html{
    height: 100%;
    background: url('./image/gif_art.gif') center/cover no-repeat;
    
}

.hide{
    visibility: hidden;
}

.car{
    width: 50px;
    height: 100px;
    background: transparent url('./image/audi.png') center/cover no-repeat;
    margin: auto;
}

.score{
    width: 100px;
    border: 5px dashed rgb(100, 99, 99);
    font-size: 20px;
    font-weight: 800;
    
}

.menu{
    /* height: 250px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    
}

.bt{
   opacity: none;
   padding: 10px .5em;
   margin: 7px; 
   font-size: 30px;
   font-weight: 800;
   background: rgba(138, 136, 136, 0.452);
   border: 2px solid black;
   
}

.bt:hover{
    background: rgba(194, 194, 194, 0.4); 
    cursor: pointer;
}

.bt:active {
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}

.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}